/* Estilos básicos */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar siempre arriba */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;

}

#navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

#navbar li {
  margin: 0 1rem;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#navbar a:hover {
  color: #ff5733;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Welcome con altura de la pantalla */
#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, blue, purple);
}

#welcome-section h1 {
  font-size: 3rem;
  color: white;
}

/* Proyectos */
#projects {
  height: 100%;
  padding: 5rem;
  background-color: #eee;
  margin: 0 auto;
  justify-content: center;
  
}
#projects h2 {
  color: blue;
  text-align: center;
  font-size: 4rem;
 }
.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 4rem;
}

.project-tile {
  background-color: white;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 3px 3px purple,
  -1em 0 0.4em olive;
}
.project-tile:hover {
  transform: scale(1.2);
}
.project-title{
  text-align: center;
  padding: 2rem 0.5rem;
  font-size: 2rem;
  background-color: #333;
  color:#ff5733;
  margin: 0;
  border-radius: 15px 15px 0 0;
}
.img-project {
  width:100%;
  object-fit:contain;
  border-radius: 0 0 15px 15px;
}
.footer {
  height: 50vh;
  background: gray;
}
/*  Media query */
@media (max-width: 800px) {
  #projects {
    height: 95%;
  }
  .grid-section {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}


@media (max-width: 600px) {
  #navbar ul {
    flex-direction: column;
  }
  
  .grid-section {
    padding: 2rem;
    grid-template-columns: 1fr;
  }  
}