/* Estilos básicos */
*,*::after, *::before {
  box-sizing: inherit;
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: Arial, sans-serif;
}

/* Navbar siempre arriba */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkblue;

}

#navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

#navbar li {
  margin: 0 1rem;
  font-size: 2rem;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#navbar a:hover {
  color: #ff5733;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Welcome con altura de la pantalla */
#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, blue, purple);
}

#welcome-section h1 {
  font-size: 3rem;
  color: white;
}
#welcome-section p {
  font-size: 2.5rem;
  color: darkgray;
  font-weight:500;
  font-family:Arial, Helvetica, sans-serif ;
}

/* Proyectos */
#projects {
  height: 100%;
  padding: 5rem;
  background-color: #eee;
  margin: 0 auto;
  justify-content: center;
  
}
#projects h2 {
  color: blue;
  text-align: center;
  font-size: 4rem;
 }
.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 4rem;
}

.project-tile {
  background-color: white;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 3px 3px purple,
  -1em 0 0.4em olive;
}
.project-tile:hover {
  transform: scale(1.2);
}
.project-title{
  text-align: center;
  padding: 2rem 0.5rem;
  font-size: 2rem;
  background-color: #333;
  color:#ff5733;
  margin: 0;
  border-radius: 15px 15px 0 0;
}
.img-project {
  width:100%;
  object-fit:contain;
  border-radius: 0 0 15px 15px;
}
#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darkblue;
  background:lightgray;
  margin: 0;
  padding: 0;
  height: 80vh;
  border-bottom: darkblue solid 5px;
}
.contact-header { 
  margin:0;
  padding: 0;
}
.contact-header h2 {
  font-size: 4rem;
  margin: 0;
}
.contact-header p {
  font-size: 1.5rem;
  
}

.contact-body {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 1rem;
  font-size: 2rem;
}
#contact-section a{
  color: darkblue ;
  text-decoration: none;
  cursor: pointer;
}
#contact-section a:hover{
  transform: translateY(10px);
  transition: transform 0.3s ease-out;
}

.contact-body.btn {
  display:block;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.footer {
  display: flex;
  height: 20vh;
  background: lightgray;
  color: darkblue;
  font-size: 1rem;
  padding: 0 5rem;
  justify-content: space-between;
  align-items: center;
}

/*  Media query */
@media (max-width: 800px) {
  #projects {
    height: 95%;
  }
  .grid-section {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
   .footer {
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
  }
}


@media (max-width: 600px) {
  #navbar ul {
    flex-direction: column;
  }
  #welcome-section h1{
    text-align: center;
  } 
  
  .grid-section {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
  .contact-body {
    flex-direction: column;
  }
  .contact-body a {
    margin: 1rem;
  }

   
}